body {
  font-family: Georgia, Times, "Times New Roman", serif;
  background-color: #f9f7fe;
}
a {
  color: #885df1;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #272044;
}

form {
  padding: 30px;
  background-color: white;
  box-shadow: 0px 20px 60px rgba(65, 58, 100, 0.08);
  border-radius: 15px;
  display: flex;
  margin-bottom: 30px;
}

.instructions {
  padding: 16px;
  border: 2px solid #885df1;
  width: 80%;
  font-size: 16px;
  border-radius: 15px;
  line-height: 20px;
  color: #272044;
}
.submit-button {
  margin-left: 10px;
  background: #885df1;
  color: white;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 15px;
  padding: 14px 24px;
}

.poem {
  font-size: 16x;
  background-color: #fff;
  padding: 20px;
  line-height: 1.5;
  border-left: 3px solid #885df1;
  box-shadow: 0px 20px 60px rgba(39, 33, 66, 0.03);
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
